.footer {
    position: relative;
    width: 100%;
    height: 400px;
    background: #1C1C65;
    
    @include media(1350){
        background: #1C1C65;
       height: 300px;
    }
    @include media(1150){
       width: 1150px;
       margin: 0 auto;
    }
    @include media(900){
      height: 250px;
    }


    &__img {
        &-right {
            position: absolute;
            content: '';
            top: -50%;
            @include media(1350){
                height: 350px;
             }
        }

        &-left {
            position: absolute;
            content: '';
            right: 5%;
            bottom: 0;
        }
    }

    &__info {
        padding-top: 30px;

        &-title {
            color: #FFF;
            font-size: 30px;
            font-weight: 700;
            line-height: 40px;
            text-align: center;
        }

        &-icons {
            padding-top: 60px;
            display: flex;
            gap: 20px;
            justify-content: center;
            @include media(900){
                padding-top: 40px;
              }
           
        }
    }
}

.icons {

    &-insta {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        color: #FFF;
        padding: 10px;
        background: rgba(193, 53, 132, 1);
    }
    &-tg{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: rgba(29, 161, 242, 1); 
        color: #FFF;
        padding: 10px;
        background: rgba(29, 161, 242, 1);  
        
    }
    &-fb{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        padding: 10px;
        color: #FFF;
        background: rgba(59, 89, 152, 1);
        
    }
    &-you{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        padding: 10px;
        color: #FFF;
        background: rgba(255, 0, 0, 1);

    }
}